# MANDATORY if deploying to a different platform than the backend (e.g. Netlify)
# Replace with your Cloud Run deployment URL (found in AI Studio's 'Share' menu)
VITE_API_URL=https://ais-pre-ybxfmg5vqsj6fimdehob3s-822241283090.europe-west2.run.app
